@model IEnumerable<GambiaReview.Models.NewsArticlesModel>

@{
    ViewBag.Title = ViewBag.Tag + " Search results";
}

<style type="text/css">
    .highlight {
        background-color: #fff34d;
        -moz-border-radius: 5px; /* FF1+ */
        -webkit-border-radius: 5px; /* Saf3-4 */
        border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); /* FF3.5+ */
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    }

    .highlight {
        padding: 1px 1px;
        margin: 0 -2px;
    }
</style>


<section class="ptb-0">
    <div class="mb-30 brdr-ash-1 opacty-5"></div>
    <div class="container">
        <a class="mt-10" href="~/"><i class="fas fa-home mlr-5"></i>Home<i class="fas fa-angle-right mlr-10"></i></a>
        <a class="mt-10 color-ash" href="">Search Result(s)</a>
    </div><!-- container -->
</section>


<section>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-8">

                <h4 class="p-title">
                    <b>Showing result(s) for '<span class="text-danger">@ViewBag.Search</span>' </b>
                </h4>
                @{
                    if (ViewBag.CountTotal == 0)
                    {
                        <p>Sorry, there are no results for <strong>@ViewBag.Search</strong></p>
                        <br/>
                        <p>Suggestions</p>
                        <div>
                            <p><strong>●</strong> Make sure that all words are spelled correctly.</p>
                            <p><strong>●</strong> Try different keywords.</p>
                            <p><strong>●</strong> Try more general keywords.</p>
                        </div>
                        
                    }
                    else
                    {
                    <div class="row" id="search-results">
                        @foreach (var item in Model)
                        {
                            <div class="row results-img">
                                <div class="col-md-4 zoom-xm">
                                    <img src="~/images/articles/@AppHelpers.GetArticleCategory(item.ID).ToString()/@AppHelpers.ReturnArticleData(item.ID, "ArticleHeadlineImage").ToString()" alt="@AppHelpers.ReturnArticleData(item.ID, "HeadlineImageDescription").ToString()">
                                </div>
                                <div class="col-md-8">
                                    <h4 class="pt-20">
                                        <a href="~/@AppHelpers.GetArticleCategory(item.ID)/News/@AppHelpers.ReturnArticleData(item.ID, "ArticleTextIdentifier").ToString()">
                                            <span>
                                                @AppHelpers.FormatLongText(item.ArticleHeadline.ToString(), 150)
                                            </span>
                                            <br />
                                            <small>
                                                @{
                                                    var stripped_body = AppHelpers.StripHTML(item.ArticleBody);
                                                }
                                                @AppHelpers.FormatLongText(stripped_body.ToString(), 250)
                                            </small>
                                        </a>
                                    </h4>
                                    <ul class="list-li-mr-20 pt-10 mb-30">
                                        <li class="color-lite-black">
                                            by <a href="#" class="color-black"><b>@AppHelpers.GetArticleBy(item.ID).ToString()</b></a>
                                            @AppHelpers.FormatArticleDate(item.ArticleDate.ToString()).ToString()
                                        </li>
                                        <li><i class="fas fa-eye color-primary mr-5"></i>@AppHelpers.GetTheTotalPageViews(item.ID.ToString()).ToString()</li>
                                        <li><i class="fas fa-comments color-primary mr-5"></i>@AppHelpers.GetTheTotalComments(item.ID.ToString()).ToString()</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            }
                        </div>
                    }
                }


            </div><!-- col-md-9 -->

            <div class="d-none d-md-block d-lg-none col-md-3"></div>
            <div class="col-md-6 col-lg-4">
                <div class="pl-20 pl-md-0">
                    @AppHelpers.GetRandomYoutubeVideo()

                    <div class="mtb-50">
                        <h4 class="p-title"><b>POPULAR POSTS</b></h4>
                        @AppHelpers.GetRecentPopularPost(4)

                    </div><!-- mtb-50 -->

                    <div class="mtb-50 pos-relative">
                        @AppHelpers.GetRandomAdGif()
                    </div><!-- mtb-50 -->

                    <div class="mtb-50 mb-md-0">
                        @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post, new { @class = "nwsltr-primary-1" }))
                        {

                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true)

                            @Html.Partial("~/Views/Alerts/_SubscribtionAlerts.cshtml")

                            @AppHelpers.GetSubscriptionForm()

                        }
                    </div><!-- mtb-50 -->

                </div><!--  pl-20 -->
            </div><!-- col-md-3 -->

        </div><!-- row -->

    </div><!-- container -->
</section>

<script type="text/javascript" src="~/Scripts/highlight.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
    var searchTerm = "@ViewBag.Search";
	 // remove any old highlighted terms
    $('#search-results').removeHighlight();

	// disable highlighting if empty
	if (searchTerm) {
		// highlight the new term
	    $('#search-results').highlight(searchTerm);
	}
});
</script>