@model GambiaReview.Models.NewsArticlesModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.ArticleHeadline);
}

<section class="ptb-0">
    <div class="mb-30 brdr-ash-1 opacty-5"></div>
    <div class="container">
        <a class="mt-10" href="~/"><i class="fas fa-home mlr-5"></i>Home<i class="fas fa-angle-right mlr-10"></i></a>
        <a class="mt-10" href="~/Categories">Categories<i class="fas fa-angle-right mlr-10"></i></a>
        <a class="mt-10" href="~/@ViewBag.Category">African News<i class="fas fa-angle-right mlr-10"></i></a>
        <a class="mt-10 color-ash" href="">@Html.Raw(AppHelpers.FormatLongText(Html.DisplayFor(model => model.ArticleHeadline).ToString(), 50))</a>
    </div><!-- container -->
</section>


<section>
    <div class="container">
        @{
            var blur_mask = "";
            if (Model.ReviewStatus == 0)
            {
                blur_mask = "blur-mask";
                <h4 class="text-danger margin-bottom">This article has not been approved yet.</h4>
            }
        }
        <div class="row @blur_mask">

            <div class="col-md-12 col-lg-8">
                <div class="row">
                    @AppHelpers.SocialShareIconsTop(Request.Url.AbsoluteUri, 4, 8)
                </div>
                <img src="~/images/articles/@AppHelpers.GetArticleCategory(Model.ID).ToString()/@Model.ArticleHeadlineImage.ToString()" alt="">
                <h3 class="mt-30"><b>@Html.DisplayFor(model => model.ArticleHeadline)</b></h3>
                <div class="row margin-top">
                    @AppHelpers.SocialShareIconsTop(Request.Url.AbsoluteUri)
                </div>
                <ul class="list-li-mr-20 mtb-15">
                    <li>by <a href="#"><strong>@AppHelpers.GetArticleBy(Model.ID).ToString()</strong>
                        </a> @AppHelpers.FormatArticleDate(Html.DisplayFor(model => model.ArticleDate).ToString())
                    </li>
                    <li><i class="fas fa-eye color-primary mr-5"></i>@AppHelpers.GetTheTotalPageViews(Html.DisplayFor(model => model.ID).ToString())</li>
                    <li><i class="fas fa-comments color-primary mr-5"></i>@AppHelpers.GetTheTotalComments(Html.DisplayFor(model => model.ID).ToString())</li>
                </ul>



                <p class="mtb-15">
                    @if (ViewBag.HasMedia)
                    {
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="~/images/articles/@AppHelpers.GetArticleCategory(Model.ID).ToString()/@ViewBag.ArticleMediaFileName" allowfullscreen></iframe>
                        </div>
                        <span class="font-italic text-primary">[@ViewBag.ArticleMediaFileCaption]</span>
                        <div class="spacer"></div>
                    }
                </p>
                <div class="mtb-15">
                    @Html.Raw(Model.ArticleBody)
                </div>


                <div class="row">

                    <ul class="mb-30 list-li-mt-10 list-li-mr-5 list-a-plr-15 list-a-ptb-7 list-a-bg-grey list-a-br-2 list-a-hvr-primary ">
                        @AppHelpers.FormatArticleTags(Model.Tags)
                    </ul>
                </div><!-- float-left-right -->

                <div class="row">
                    <ul class="a2a_kit a2a_kit_size_32 a2a_default_style mb-30 list-a-bg-grey list-a-hw-radial-35 list-a-hvr-primary list-li-ml-5">
                        @AppHelpers.SocialShareIconsBottom(Request.Url.AbsoluteUri)
                    </ul>
                </div>
                <div class="spacer-xl-large"></div>

                <h4 class="p-title mt-50"><b>YOU MAY ALSO LIKE </b></h4>
                <div class="row">

                    @AppHelpers.GetSimilarNewsArticles(2, Model.Tags, Model.ArticleCategory)

                </div><!-- row -->
                @if (Int32.Parse(AppHelpers.GetTotalArticleComments(Model.ID).ToString()) > 0)
                {
                    <h4 class="p-title mt-20"><b>@AppHelpers.GetTotalArticleComments(Model.ID).ToString() COMMENT(S)</b></h4>
                }
                else
                {
                    <h4 class="p-title mt-20"><b>BE THE FIRST TO COMMENT</b></h4>
                }

                <!-- Article Comment Form -->
                <h4 class="p-title mt-20"><b>LEAVE A COMMENT</b></h4>
                @using (Html.BeginForm("AddComment", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-block form-plr-15 form-h-45 form-mb-20 form-brdr-lite-white mb-md-50" }))
                {
                    @Html.AntiForgeryToken()
                    @AppHelpers.GetArticleCommentForm(Model.ID)
                }

                @AppHelpers.GetArticleComments(Model.ID)


            </div><!-- col-md-9 -->

            <div class="d-none d-md-block d-lg-none col-md-3"></div>
            <div class="col-md-6 col-lg-4">
                <div class="pl-20 pl-md-0">
                    @AppHelpers.GetRandomYoutubeVideo()

                    <div class="mtb-50">
                        <h4 class="p-title"><b>POPULAR POSTS</b></h4>
                        @AppHelpers.GetRecentPopularPost(4)

                    </div><!-- mtb-50 -->

                    <div class="mtb-50 pos-relative">
                        @AppHelpers.GetRandomAdGif()
                    </div><!-- mtb-50 -->

                    <div class="mtb-50 mb-md-0">
                        @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post, new { @class = "nwsltr-primary-1" }))
                        {

                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true)

                            @Html.Partial("~/Views/Alerts/_SubscribtionAlerts.cshtml")

                            @AppHelpers.GetSubscriptionForm()

                        }
                    </div><!-- mtb-50 -->

                </div><!--  pl-20 -->
            </div><!-- col-md-3 -->

        </div><!-- row -->

    </div><!-- container -->
</section>

